@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Bugatti";
    src: url("../font/Bugatti/Bugatti.woff2");
}

@font-face {
    font-family: "Spaceman";
    src: url("../font/Spaceman/SPACEMAN.TTF");
}

@font-face {
    font-family: "Spaceage";
    src: url("../font/space_age/space\ age.ttf");
}

:root {
    --bg-color: #343434;
    --text-color: #d8d8d6;
    --primary-color: #61697B;
    --secondary-color: #381C47;
    --secondary-color-a: rgba(56, 28, 71, 0.4);
    --bg-color-1: #0992a4;
    --bg-color-2: #0a61d4;
    --bg-color-3: #313a45;
    --bg-color-4: #252f38;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {}

.layout {
    width: 100%;
    height: 100dvh;
    color: var(--text-color);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Bugatti', 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
}

.main__layout {
    width: 100%;
    margin-top: 45px;
    height: calc(100vh - 45px);
    top: 45px;
    position: absolute;
    top: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__layout {
    width: 100%;
    height: auto;
    /* height: calc(100vh - 45px); */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.section__title {
    font-size: 8rem;
    font-family: "Spaceage";
}

.section__text {
    font-size: 2rem;

}

.progress__bar {
    position: absolute;
    right: 0px;
}


.nav__layout {
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    border-bottom: 0.001px solid rgb(61, 61, 61);
}

.nav__item {
    cursor: pointer;
    padding: 1rem;
    position: relative;
}

.nav__item::after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 1px;
    background-color: #d8d8d6;
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.nav__item:hover::after {
    opacity: 1;
    width: 100%;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}


.canvas {
    width: 100%;
    max-height: 100dvh;
    pointer-events: none;
    position: fixed;
    z-index: -1;
}



.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.controls__item {
    width: 80px;
    height: 80px;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 768px) {

    .controls__layout {
        opacity: 1;
    }

}